
.navbar {
    background-color: #222123 !important;
}

.nav-link {
   margin: 0 20px !important;
}

.btn{
    background-color: #222123 !important;
    color: #ECF7F4 !important;
}

.cta :hover{
    cursor: pointer !important;
}

.mid-content{
    background-color: #3F4241;;
}

footer{
    background-color: #222123;
}
